* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: dashed red 1px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
header {
    height: 30vh;
    background-size: cover;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    border-radius: 25%;
    color: white;
}

header h1{
    background-color: darkred;
    border-radius: 20%;
    padding: 1%;
} 

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

nav a {
    padding: 0 1%;
    color: white;
    text-decoration: none;
    font-size: 125%;
    font-style: bold;
    border-bottom: solid 1px darkred;
}

nav a:hover {
    cursor: pointer;
    color: wheat;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    display: flex;
    padding: 5%;
}

section h2 {
    flex-basis: 20%;
    border-right: solid 3px darkred;
}

section div {
    flex-basis: 80%;
}

.h2 {
    font-size: 150%;
    display: flex;
    
}

.description {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
}

.h3  {
    font-size: 150%;

}

.Links-for-Work {
    font-size: 125%;
}

.First {

}
.Best {
}

.Latest {
}

.h4 {
    font-size: 150%;
}

.h5 {
    font-size: 150%;
}
